{% extends '::base.html.twig' %}

{% block navbar %}
    <header>
        <h1>
            <a href="{{ path('rcpx_homepage') }}">
                <img src="{{ asset('bundles/rcpx/images/partidox-redciudadana-big.png') }}" class="img-responsive"/>
            </a>
        </h1>
    </header>
{% endblock %}


{% block body %}
    <div class="row login">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>{{ "listas_abiertas"|trans }}</h2>

            <div class="securityForm row">
                <p>En este espacio, <strong>desde el 23 de marzo a las 15.00h hasta el 24 de marzo a las 19.00h</strong>, los/as
                    Usuarios/as de la Red Ciudadana Partido X (Usuario = persona proactiva con el proyecto) pueden
                    participar en la ponderación de los/as candidatos/as que consideren idóneos para conformar la lista
                    abierta ciudadana para la elecciones europeas.</p>

                <p>Introduce el usuario y la contraseña que has recibido por correo electrónico. Si no recuerdas tu contraseña puedes solicitar una nueva haciendo click en "<a href="/resetting/request">He olvidado mi contraseña</a>".</p>

                <div class="alert alert-danger">También puedes consultar el listado de candidatos/as sin participar en la ponderación, haciendo <a href="/candidatos-ep2014">click aquí</a></div>

                <p>A todas aquellas personas que hayan sido proactivas y no hayan recibido  este mail, les pedimos disculpas si no nos hemos dado cuenta. Podrán  solicitar un usuario para participar en la votación final de las siguientes dos maneras:</p>
                <p>1- <strong>Si has interactuado de forma positiva con el trabajo de la Red Ciudadana a través de las redes sociales</strong>, Twitter y Facebook, y no has recibido ningún mail con usuario,  haz click <a href="http://partidox.org/activacion-usuario-red-ciudadana/#social-login">aquí</a>
                <p>2- <strong>Si has interactuado a través de cualquier otro canal</strong> envia un  correo electrónico a red-ciudadana@partidox.org con el asunto  [Activación usuario para Listas] aportando una prueba de su  participación proactiva en relación con la Red Ciudadana Partido X.

                <p>Recordamos que esta no es una votación para un concurso de popularidad.</p>

                <p>Estamos escogiendo las personas más adecuadas para defender esta
                    <a href="http://partidox.org/informacion-basica/#metodo-y-hoja-de-ruta">hoja de ruta</a> y este <a
                            href="http://partidox.org/programa-europeo/">programa adaptado a
                        las europeas</a>
                </p>

                <p>Utilizamos los siguientes criterios de ponderación:</p>

                <ul>
                    <li>Conocimiento y afinidad con el programa de la Red Ciudadana Partido X </li>
                    <li>Conocimiento y afinidad con el método de trabajo de la Red Ciudadana Partido X </li>
                    <li>Competencias de la persona en sus materias  </li>
                    <li>Trayectoria demostrada de trabajo por el bien común </li>
                    <li>Capacidad para explicarse en público</li>
                    <li>Capacidad de hablar de temas que no son los suyos con responsabilidad, humildad y sin mentir.</li>
                    <li>Capacidad de relacionarse  </li>
                    <li>Conocimiento del inglés (o francés u otro idioma en segundo lugar) </li>
                    <li>Conocimiento de los mecanismos y las instituciones europeas</li>
                </ul>
                </p>

                {{ render(controller("FOSUserBundle:Security:login")) }}
                <p>
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgot_password'|trans }}</a>
                </p>
                <p>Los candidatos que reciban al menos el 25 % ponderado de apoyos de los participantes pasarán a formar parte de las listas definitivas A y B. Cada uno de los participantes podrá  votar a cuantos candidatos desee de cada una de las <strong>Listas 0A y 0B</strong>.</p>
                <p>Finalmente, se unirán ambas listas, intercalando los candidatos de las listas <strong>A y B</strong>. Con los candidatos de la Lista B ocupando los puestos impares.</p>
                <p>Aquellos candidatos de la <strong>Lista 0A</strong> que no pasen a la lista definitiva quedarán fuera de las listas abiertas.<p/>
                <p>Aquellos candidatos de la <strong>Lista 0B</strong> que NO hayan sido  seleccionados para la lista definitiva o que decididiesen no participar  en los Fogueos, se unirán a otras personas activas en la Red Ciudadana  Partido X para que, si así lo desean, puedan presentarse como voluntarias para completar las listas abiertas, <strong>únicamente en caso de que hiciera falta</strong>. Las posiciones de los candidatos en los últimos puestos a rellenar de  la lista se determinarán al azar. Todos los voluntarios deben de cumplir  las mismas condiciones de participación y competencia que se exigen al  resto de los posibles integrantes de las listas.</p>

            </div>

        </div>
    </div>

{% endblock %}
