{% extends '::base.html.twig' %}

{% block navbar %}
    <header>
        <h1>
            <img src="{{ asset('bundles/rcpx/images/partidox-redciudadana-big.png') }}" class="img-responsive"/>
        </h1>
    </header>
{% endblock %}


{% block body %}
    <div class="row login">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>{{ "listas_abiertas"|trans }}</h2>
            {{ render(controller("FOSUserBundle:Security:login")) }}
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgot_password'|trans }}</a>
        </div>
    </div>

{% endblock %}
