<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Listas abiertas - Red Ciudadana Partido X{% endblock %}</title>
    <link href="{{ asset('bundles/rcpx/css/reset.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/rcpx/css/styles.css') }}" rel="stylesheet" media="screen">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/rcpx/images/favicon.ico') }}"/>
</head>
<body>
<header>
    <h1>
        <img src="{{ asset('bundles/rcpx/images/partidox-redciudadana.png') }}"/>
    </h1>
</header>
{% block body %}{% endblock %}
<p class="copy">Red Ciudadana - Partido X </p>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{ asset('bundles/rcpx/js/barlovento.js') }}"></script>
{% block viewScripts %} {% endblock %}
</body>
</html>
