<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Listas abiertas - Red Ciudadana Partido X{% endblock %}</title>
    <link href="{{ asset('bundles/rcpx/css/reset.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/rcpx/css/styles.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/rcpx/images/favicon.ico') }}"/>
</head>
<body>
<header>
    <h1>
        <a href="{{ path('rcpx_homepage') }}"><img src="{{ asset('bundles/rcpx/images/partidox-redciudadana.png') }}" /></a>
    </h1>

</header>
{% block body %}{% endblock %}
<p class="copy">Red Ciudadana - Partido X </p>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('bundles/rcpx/js/barlovento.js') }}"></script>
{% block viewScripts %} {% endblock %}
</body>
</html>