<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Listas abiertas - Red Ciudadana Partido X{% endblock %}</title>
    <!-- <link href="{{ asset('bundles/rcpx/css/reset.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/rcpx/css/styles.css') }}" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{ asset('bundles/rcpx/css/bootstrap-votolab.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/rcpx/images/favicon.ico') }}"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
<header>
    <h1>
        <a href="{{ path('rcpx_homepage') }}"><img src="{{ asset('bundles/rcpx/images/partidox-redciudadana.png') }}" class="img-responsive" /></a>
    </h1>
</header>
{% block body %}{% endblock %}
<div class="footer">Red Ciudadana - Partido X </div>
</div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/rcpx/js/barlovento.js') }}"></script>
{% block viewScripts %} {% endblock %}
</body>
</html>