{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('votolab_admin') }}">{{ 'elections'|trans|capitalize }}</a></li>
        <li><a href="{{ path('votolab_list_candidates', {'slug': election.slug}) }}">{{ 'candidates'|trans|capitalize }}</a></li>
        <li class="active">{{ 'addCandidates.add_edit_candidate_in'|trans }} {{ election.title }}</li>
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'addCandidates.add_edit_candidate'|trans|capitalize }} </div>
        <div class="panel-body">
            <div>
                {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
                {{ form_errors(form) }}
                <p>
                    <label>{{ form_label(form.name) }}</label>
                    <span class="field">{{ form_widget(form.name,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.name) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.biography) }}</label>
                    <span class="field">{{ form_widget(form.biography,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.biography) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.video) }}</label>
                    <span class="field">{{ form_widget(form.video,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.video) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.picture) }}</label>
                    <span class="field">{{ form_widget(form.picture,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.picture) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.gender) }}</label>
                    <span class="field">{{ form_widget(form.gender,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.gender) }}</span>
                </p>

                <p class="stdformbutton">
                    <button class="btn btn-primary">{{ 'submit'|trans|capitalize}}</button>
                    <button type="reset" class="btn">{{ 'reset'|trans|capitalize}}</button>
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}