{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('votolab_admin') }}">{{ 'elections'|trans|capitalize}}</a></li>
        <li class="active">{{ 'addElections.add_edit'|trans}}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'addElections.add_edit'|trans}}</div>
        <div class="panel-body">
            <div>
                {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
                {{ form_errors(form) }}
                <p>
                    <label>{{ form_label(form.title) }}</label>
                    <span class="field">{{ form_widget(form.title,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.title) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.description) }}</label>
                    <span class="field">{{ form_widget(form.description,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.description) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.slug) }}</label>
                    <span class="field">{{ form_widget(form.slug,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.slug) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.minCandidates) }}</label>
                    <span class="field">{{ form_widget(form.minCandidates,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.minCandidates) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.maxCandidates) }}</label>
                    <span class="field">{{ form_widget(form.maxCandidates,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.maxCandidates) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.dateStart) }}</label>
                    <span class="field">{{ form_widget(form.dateStart,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.dateStart) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.dateEnd) }}</label>
                    <span class="field">{{ form_widget(form.dateEnd,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.dateEnd) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.datePublished) }}</label>
                    <span class="field">{{ form_widget(form.datePublished,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.datePublished) }}</span>
                </p>

                <p>
                    <label>{{ form_label(form.publishResults) }}</label>
                    <span class="field">{{ form_widget(form.publishResults,  {'attr': {'class': 'form-control' }}
                        ) }} {{ form_errors(form.publishResults) }}</span>
                </p>

                <p class="stdformbutton">
                    <button class="btn btn-primary">{{ 'submit'|trans|capitalize}}</button>
                    <button type="reset" class="btn">{{ 'reset'|trans|capitalize}}</button>
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}