{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="active">Elecciones</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de Elecciones
            <a type="button" class="btn btn-success btn-sm pull-right" href="{{ path('votolab_add_election') }}">
                <span class="glyphicon glyphicon-plus"></span> Añadir Elección
            </a>
        </div>
        <div class="panel-body">
            <div><a href="{{ path('votolab_add_election') }}"></a></div>
            <table class="table">
                <thead>
                <th>Elección</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Votos</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for election in elections %}
                    <tr>
                        <td>{{ election.title }}</td>
                        <td>{{ election.dateStart|date("d/m/Y") }}</td>
                        <td>{{ election.dateEnd|date("d/m/Y") }}</td>
                        <td>{{ election.voters|length }}</td>
                        <td><a href="{{ path('votolab_list_candidates', {'slug': election.slug}) }}">Candidatos</a></td>
                        <td><a href="{{ path('votolab_list_criterias', {'slug': election.slug}) }}">Criterios</a></td>
                        <td><a type="button" class="btn btn-primary btn-sm" href="{{ path('votolab_edit_election', {'slug': election.slug}) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
                        <td><a type="button" class="btn btn btn-danger btn-sm" href="{{ path('votolab_delete_election', {'slug': election.slug}) }}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}