{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="active">{{ 'elections'|trans|capitalize }}</li>
    </ol>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'admin.list_elections'|trans }}
            <a type="button" class="btn btn-success btn-sm pull-right" href="{{ path('votolab_add_election') }}">
                <span class="glyphicon glyphicon-plus"></span> {{ 'admin.add_elections'|trans }}
            </a>
        </div>
        <div class="panel-body">
            <div><a href="{{ path('votolab_add_election') }}"></a></div>
            <table class="table">
                <thead>
                <th>{{ 'elections'|trans|capitalize }}</th>
                <th>{{ 'admin.date_start'|trans|capitalize }}</th>
                <th>{{ 'admin.date_end'|trans|capitalize }}</th>
                <th>{{ 'admin.votes'|trans|capitalize }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for election in elections %}
                    <tr>
                        <td><a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a></td>
                        <td>{{ election.dateStart|date("d/m/Y") }}</td>
                        <td>{{ election.dateEnd|date("d/m/Y") }}</td>
                        <td>{{ election.voters|length }}</td>
                        <td><a href="{{ path('votolab_list_candidates', {'slug': election.slug}) }}">{{ 'candidates'|trans|capitalize }}</a></td>
                        <td><a href="{{ path('votolab_list_criterias', {'slug': election.slug}) }}">{{ 'criterias'|trans|capitalize }}</a></td>
                        <td><a href="{{ path('votolab_list_voters', {'slug': election.slug}) }}">{{ 'voters'|trans|capitalize }}</a></td>
                        <td><a type="button" class="btn btn-success btn-sm" href="{{ path('votolab_publish_election', {'slug': election.slug}) }}"><span class="glyphicon glyphicon-certificate"></span> {{ 'admin.publish'|trans|capitalize }}</a></td>
                        <td><a type="button" class="btn btn-primary btn-sm" href="{{ path('votolab_edit_election', {'slug': election.slug}) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'admin.edit'|trans|capitalize }}</a></td>
                        <td><a type="button" class="btn btn btn-danger btn-sm" href="{{ path('votolab_delete_election', {'slug': election.slug}) }}"><span class="glyphicon glyphicon-trash"></span> {{ 'admin.delete'|trans|capitalize }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}