{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('votolab_admin') }}">{{ 'elections'|trans|capitalize}}</a></li>
        <li class="active">{{ 'candidates'|trans|capitalize}}</li>
    </ol>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-primary">
    <div class="panel-heading">{{ 'listCandidates.candidates_list'|trans}}
        <a type="button" class="btn btn-success btn-sm pull-right"
           href="{{ path('votolab_add_candidate', {'slug': election.slug}) }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'listCandidates.add_candidate'|trans}}
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>{{ 'listCandidates.name'|trans|capitalize}}</th>
            <th>{{ 'listCandidates.biography'|trans|capitalize}}</th>
            <th>{{ 'listCandidates.votes'|trans|capitalize}}</th>
            <th>{{ 'listCandidates.video'|trans|capitalize}}</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.biography[:65] }}...</td>
                    <td>{{ candidate.votes|length }}</td>
                    <td><a href="{{ candidate.video }}">{{ 'listCandidates.video'|trans|capitalize}}</a></td>
                    <td><a type="button" class="btn btn-primary btn-sm" href="{{ path('votolab_edit_candidate', {'slug': election.slug, 'id': candidate.id}) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'listCandidates.edit'|trans|capitalize}}</a>
                    </td>
                    <td><a type="button" class="btn btn btn-danger btn-sm" href="{{ path('votolab_delete_candidate', {'slug': election.slug, 'id': candidate.id}) }}"><span class="glyphicon glyphicon-trash"></span>{{ 'listCandidates.delete'|trans|capitalize}}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}