<div class="col-md-3">
    {{ candidate.image|vlabs_filter('resize', { width : 200, height : 200, keepRatio : true } )|vlabs_media('image') }}
</div>
<div class="col-md-9">
    <div>
        <div class="container-fluid">
            <button type="button" class="pull-right btn btn-default read-more" data-toggle="collapse"
                    data-target="#moreInfo-{{ candidate.id }}">
                <span class="glyphicon glyphicon-plus"></span> {{ 'read_more'|trans|capitalize }}
            </button>
            <h3>{{ candidate.name }}</h3>
        </div>
        <p class="competence top-buffer container-fluid">{{ candidate.competence }}</p>
    </div>
    <div class="moreInfo container-fluid collapse" id="moreInfo-{{ candidate.id }}">
        <span class="container-fluid">{{ candidate.video|embed|lazy|raw }}</span>
        <span class="container-fluid">{{ candidate.biography|raw }}</span>

        <div id="valueCandidate-{{ candidate.id }}">
            <h4 class="container-fluid">{{ 'vote_candidate'|trans|capitalize }} {{ candidate.name }}</h4>

            <form action="">
                <ul class="criteria container-fluid col-md-12">
                    {% for criterion in criteria %}
                        <li class="top-buffer form-group">
                            <p>{{ criterion.criterion }}:</p>
                            <select data-criterion="{{ criterion.id }}" name="{{ criterion.id }}" class="criterion">
                                <option value=""></option>
                                {% for i in criterion.min..criterion.max %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <span class="control-label hide input-error">{{ 'required_field'|trans|capitalize }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="alert alert-danger col-md-12 top-buffer hide"  id="valueCandidateError-{{ candidate.id }}">{{ 'vote_error'|trans|capitalize }}</div>
                <button type="button" class="submitVote btn btn-success btn-lg btn-block col-md-12 top-buffer"
                        data-loading-text="{{ 'voting'|trans|capitalize }}...">
                    {{ 'to_vote'|trans|capitalize }}
                </button>
            </form>
        </div>
    </div>
    <div class="alert alert-warning hide top-buffer" id="valueCandidateSuccess-{{ candidate.id }}">
        <strong>{{ 'vote_sent'|trans|capitalize }}</strong>
    </div>
</div>
