<div class="col-md-3">
    {{ candidate.image|vlabs_filter('resize', { width : 227, height : 200, keepRatio : true } )|vlabs_media('image_responsive') }}
</div>
<div class="col-md-9">
    <div>
        <div>
            <button type="button" class="pull-right btn btn-default read-more" data-toggle="collapse"
                    data-target="#moreInfo-{{ candidate.id }}">
                <span class="glyphicon glyphicon-plus"></span> {{ 'view_videos'|trans|capitalize }}
            </button>
            <h3>{{ candidate.name }}</h3>
        </div>
        <p class="competence top-buffer">{{ candidate.competence }}</p>
        {{ candidate.biography|raw }}
    </div>
    <div class="moreInfo collapse top-buffer" id="moreInfo-{{ candidate.id }}">
        <span>{{ candidate.video|embed|lazy|raw }}</span>
        <span>{{ candidate.video2|embed|lazy|raw }}</span>

    </div>
    <div class="alert alert-warning hide top-buffer" id="valueCandidateSuccess-{{ candidate.id }}">
        <strong>{{ 'vote_sent'|trans|capitalize }}</strong>
    </div>
</div>
