<div class="col-md-3">
    <img class="img-rounded" src="{{ asset(candidate.picture) }}" alt="{{ candidate.name }}"/>
</div>
<div class="col-md-9">
    <div>
        <div class="container-fluid">
        <button type="button" class="pull-right btn btn-default read-more" data-toggle="collapse" data-target="#moreInfo-{{ candidate.id }}">
            <span class="glyphicon glyphicon-plus"></span> {{ 'read_more'|trans|capitalize }}
        </button>
        <h3>{{ candidate.name }}</h3>

        </div>

        <p class="competence top-buffer container-fluid">{{ candidate.competence }}</p>
    </div>
    <div class="moreInfo container-fluid collapse" id="moreInfo-{{ candidate.id }}">
        <span class="container-fluid">{{ candidate.video|embed|raw }}</span>
        <span class="container-fluid">{{ candidate.biography }}</span>
        <h4 class="container-fluid">{{ 'vote_candidate'|trans|capitalize }} {{ candidate.name }}</h4>
        <ul class="criteria container-fluid col-md-12">
            {% for criterion in criteria %}
                <li class="top-buffer">
                    <p>{{ criterion.criterion }}:</p>
                    <select data-rating>
                        {% for i in criterion.min..criterion.max %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </li>
            {% endfor %}
        </ul>
        <a type="button" class="btn btn-success btn-block col-md-12 top-buffer"
           href="{{ path('votolab_vote', {'slug': election.slug, 'id': candidate.id}) }}">
            {{ 'to_vote'|trans|capitalize }}
        </a>
    </div>
</div>
