<div class="col-md-3">
    <a href="#">
        <img class="img-rounded" src="{{ asset(candidate.picture) }}" alt="{{ candidate.name }}"/>
    </a>
</div>
<div class="col-md-9">
    <div>
        <h3><a href="#">{{ candidate.name }}</a></h3>

        <p class="competence">{{ candidate.competence }}</p>
    </div>
    <div class="moreInfo" data-panel style="display:none">
        <span class="container-fluid">{{ candidate.video|embed|raw }}</span>
        <span class="container-fluid">{{ candidate.biography }}</span>
        <ul class="criteria container-fluid col-md-12">
            {% for criterion in criteria %}
                <li class="top-buffer">
                    <p>{{ criterion.criterion }}:</p>
                    <select data-rating>
                        {% for i in criterion.min..criterion.max %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </li>
            {% endfor %}
        </ul>
        <a type="button" class="btn btn-success col-md-12 top-buffer"
           href="{{ path('votolab_vote', {'slug': election.slug, 'id': candidate.id}) }}">
            {{ 'to_vote'|trans|capitalize }}
        </a>
    </div>
</div>
