{% extends '::base.html.twig' %}
{% block body %}
    <header>
        <h1>
            <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
        </h1>
    </header>
    <div class="title-logo">
        <h2>Elige a un candidato para valorar</h2>
    </div>
    <ul class="list">
        <li>
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li class="last">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li class="last">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li class="last">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li class="last">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        <li class="last">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
            </a>
            <div>
                <h3><a href="">Xavier Vilà Albiol</a></h3>
                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
    </ul>
    <span class="separator"></span>
    <p class="copy">&copy; Red Ciudadana - Partido X </p>

{% endblock %}