{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <header>
            <h2>Elecciones abiertas</h2>
            <button class="logOut">Log Out</button>
        </header>
    </div>
    <div class="elections">
        {%  for election in elections %}
        <div>
            <h3><a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a></h3>
            <p>{{ election.description }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="title-logo">
        <header>
            <h2>Elecciones pasadas</h2>
            <button class="logOut">Log Out</button>

        </header>
    </div>
    <div class="elections">
        {%  for election in electionsPast %}
        <div>
            <h3><a href="{{ path('votolab_tally', {'slug': election.slug}) }}">{{ election.title }}</a></h3>
            <p>{{ election.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}