{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="active">{{ 'elections'|trans|capitalize }}</li>
    </ol>


    {% if elections is not empty %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ 'listElections.open_elections'|trans }}
            </div>
            <div class="panel-body">
                <div class="elections">
                    {% for election in elections %}
                        <div class="well well-sm">
                            <h3>
                                <a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a>
                            <span class="label label-danger pull-right">
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ election.dateStart|date("d/m/Y") }}
                                {% if election.dateStart|date("d/m/Y") != election.dateEnd|date("d/m/Y") %}
                                    al {{ election.dateEnd|date("d/m/Y") }}
                                {% endif %}
                            </span>
                            </h3>

                            <p>{{ election.description|striptags|truncate(350,true)|raw }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if electionsPast is not empty %}
        <div class="panel panel-danger">
            <div class="panel-heading">{{ 'listElections.past_elections'|trans }}</div>
            <div class="panel-body">
                <div class="elections">
                    {% for election in electionsPast %}
                        <div class="well well-sm">
                            <h3>
                                <a href="{{ path('votolab_tally', {'slug': election.slug}) }}">{{ election.title }}</a>
                            <span class="label label-danger pull-right">
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{ election.dateStart|date("d/m/Y") }}
                            </span>
                            </h3>

                            <p>{{ election.description|striptags|truncate(350,true)|raw }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}