{% extends '::base.html.twig' %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Elecciones abiertas</div>
        <div class="panel-body">
            <div class="elections">
                {% for election in elections %}
                    <div class="well well-sm">
                        <h3><a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a>
                        </h3>

                        <p>{{ election.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">Elecciones pasadas</div>
        <div class="panel-body">
            <div class="elections">
                {% for election in electionsPast %}
                    <div class="well well-sm">
                        <h3><a href="{{ path('votolab_tally', {'slug': election.slug}) }}">{{ election.title }}</a></h3>
                        <p>{{ election.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}