{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('votolab_elections') }}">{{ 'elections'|trans|capitalize}}</a></li>
        <li class="active">{{ election.title }}</li>
    </ol>
    <div class="panel panel-primary election" data-election="{{ election.slug }}">
        <div class="panel-heading"><h2>{{ election.title }}</h2></div>
        <div class="panel-body">
            <div class="well-sm">
                <div class="row">
                    <div class="col-md-12">{{ election.description }}</div>
                </div>
                <div class="row top-buffer">
                    {% for candidate in candidates %}
                        <div class="col-md-12 candidate well well-sm" data-candidate="{{ candidate.id }}">{{ include ('VotolabBundle:Elections:candidate.html.twig') }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jquery.barrating.min.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/views/election.js') }}"></script>
{% endblock %}