{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <h2>Elige a un candidato para valorar</h2>
    </div>
    <div class="listWrapper">
        <div class="list left" >
            {% for candidate in candidates %}
                {% if loop.index%2==0 %}
                    <div class="{{ cycle(["first", "last"], loop.index) }} candidate" data-candidate="{{ candidate.id }}">
                        <a href="#">
                            <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="{{ candidate.name }}"/>
                        </a>

                        <div>
                            <h3><a href="">{{ candidate.name }}</a></h3>
                        </div>
                        <div class="moreInfo" data-panel>
                            <span>{{ candidate.video|raw }}</span>
                            <span>{{ candidate.biography }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="list right">
            {% for candidate in candidates %}
                {% if loop.index%2==1 %}
                    <div class="{{ cycle(["first", "last"], loop.index) }} candidate" data-candidate="{{ candidate.id }}">
                        <a href="#">
                            <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="{{ candidate.name }}"/>
                        </a>

                        <div>
                            <h3><a href="">{{ candidate.name }}</a></h3>
                        </div>
                        <div class="moreInfo" data-panel>
                            <span>{{ candidate.video|raw }}</span>
                            <span>{{ candidate.biography }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <span class="separator"></span>
{% endblock %}
{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jquery.barrating.min.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/views/election.js') }}"></script>
{% endblock %}
