{% extends '::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="active">{{ 'elections'|trans|capitalize }}</li>
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'listElections.open_elections'|trans }}

        {% if is_granted('ROLE_ADMIN') %}
            <a type="button" class="btn btn-success btn-sm pull-right" href="{{ path('votolab_admin') }}">
                <span class="glyphicon glyphicon-plus"></span> {{ 'admin_panel'|trans|capitalize }}
            </a>
        {% endif %}
        </div>
        <div class="panel-body">
            <div class="elections">
                {% for election in elections %}
                    <div class="well well-sm">
                        <h3><a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a>
                        </h3>

                        <p>{{ election.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">{{ 'listElections.past_elections'|trans }}</div>
        <div class="panel-body">
            <div class="elections">
                {% for election in electionsPast %}
                    <div class="well well-sm">
                        <h3><a href="{{ path('votolab_tally', {'slug': election.slug}) }}">{{ election.title }}</a></h3>
                        <p>{{ election.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}