{% extends '::base.html.twig' %}

{% block viewStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/rcpx/css/jqbar.css') }}">
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('votolab_elections') }}">{{ 'elections'|trans|capitalize }}</a></li>
        <li class="active">{{ election.title }}</li>
    </ol>
    <div class="panel panel-primary election" data-election="{{ election.slug }}">
        <div class="panel-heading"><h2>{{ 'tally_for'|trans|capitalize }} {{ election.title }}</h2></div>
        <div class="panel-body">
            <div class="well-sm">
                <div class="row">
                    <div class="col-md-12">{{ election.getDescriptionTally() }}</div>
                </div>
                <table class="table top-buffer">
                    {% for candidate in tally %}
                        <tr>
                            <td class="col-sm-1">
                                {{ candidate.image|vlabs_filter('resize', { width : 50, height : 50, keepRatio : true } )|vlabs_media('image', { name : candidate.name, class:'img-rounded' }) }}
                            </td>
                            <td class="col-sm-4">
                                <h3>{{ candidate.name }}</h3>
                            </td>
                            <td class="col-sm-1">
                                {{ candidate.candidate_votes }}
                            </td>
                            <td class="percentage " data-percentage="{{ candidate.percentage }}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jqbar.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/views/tally.js') }}"></script>
{% endblock %}

